# language: objective-c  #1
# osx_image: xcode7 #2
# xcode_project: dev/Sortanim.xcodeproj #3
# xcode_scheme: Sortanim #4
# xcode_sdk: iphonesimulator8.3 #5

script:
      - travis_retry ./dev/scripts/travis-script.sh